.footer_container{
    background-color: black;
    color: white;
    .social_media{
        display: flex;
        justify-content: flex-end;
        svg{
            width: 45px;
            height: 45px;
            fill: white;
        }
    }
}